go 1.19

use (
	./any
	./base
	./closure
	./composition
	./constant
	./daemon
	./defer
	./grace_exit
	./hello
	./init
	./interface_partial
	./interface_whole
	./lib_atomic
	./lib_base64
	./lib_flag
	./lib_http
	./lib_json
	./lib_log
	./lib_protobuf
	./lib_waitgroup
	./lib_xlsx
	./lib_xml
	./lib_yaml
	./math_test
	./pointer
	./rune
	./select_case
	./slice
	./tcp_client
	./tcp_server
	./websocket_client
	./websocket_server
)
