go 1.19

use (
	./base
	./composition
	./constant
	./daemon
	./defer
	./grace_exit
	./hello
	./interface_partial
	./interface_whole
	./lib_atomic
	./lib_flag
	./lib_http
	./lib_json
	./lib_waitgroup
	./lib_xml
	./lib_yaml
	./pointer
	./select_case
	./tcp_client
	./tcp_server
	./websocket_client
	./websocket_server
)
