go 1.19

use (
	./base
	./composition
	./constant
	./defer
	./grace_exit
	./hello
	./interface_partial
	./interface_whole
	./lib_atomic
	./lib_flag
	./lib_json
	./lib_xml
	./lib_yaml
	./pointer
	./select_case
)
